* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    display: block;
}

img {
    vertical-align: bottom;
}

.container {
    max-width: calc(100% - 48px);
    width: 1140px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    --height: 57px;
    min-width: 173px;
    height: var(--height);
    padding: 0 24px;
    line-height: var(--height);
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: #143c3c;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.btn:hover {
    color: #143c3c;
    background-color: #fff;
}

/* ====== Header ====== */
.header {
    font-family: "Public Sans", sans-serif;
}

.header.fixed {
    position: sticky;
    top: -15px;
    background-color: #fff;
    z-index: 2;
}

.header__inner {
    padding: 28px 0 13px;
}

.header__action,
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    margin-right: 88px;
}

.nav__item-link {
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    padding: 8px 19px;
}

.nav__item-link:hover {
    color: #152427;
}

.nav__item-link--active {
    position: relative;
    color: #152427;
}

.nav__item-link--active::after {
    position: absolute;
    left: 19px;
    bottom: -21px;
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: #143c3c;
}

.header__line {
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

/* ===== Hero ====== */
.hero {
    font-family: "Public Sans", sans-serif;
    padding: 60px 0 88px;
}

.hero__content {
    width: 34.47%;
}

.hero__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__heading {
    width: 368px;
    color: #152427;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    width: 341px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero__cta {
    display: flex;
    margin-top: 42px;
    justify-content: space-between;
    align-items: center;
}

.hero__cta-watch {
    display: flex;
    align-items: center;
}

.hero__cta-watch:hover .hero__cta-watch-text {
    transform: scaleX(1.1);
}

.hero__cta-watch-icon {
    margin: 0 15px 0 -20px;
}

.hero__cta-watch-text {
    color: #152427;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    transition: 0.2s;
}

.hero__media {
    position: relative;
    width: 56.67%;
    height: 543px;
    display: flex;
    column-gap: 20px;
}

.hero__media-img {
    position: relative;
    width: 31.27%;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__media-img:nth-last-of-type(2) {
    margin-top: 77px;
}

.hero__blur {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
}

.header__decor {
    position: absolute;
}

.header__decor:first-of-type {
    top: 28px;
    left: 297px;
}

.header__decor:nth-of-type(2) {
    right: 46px;
    bottom: -70px;
}

.header__decor:nth-of-type(3) {
    top: 36px;
    left: 255px;
}

.header__decor:last-of-type {
    right: 9px;
    bottom: -36px;
}

/* ===== Logos ====== */
.logos {
    padding: 42px 0;
}

.logos__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 76px 121px;
    border-radius: 100.5px;
    background: #e2eddf;
}

.logos__icon {
    transition: 0.25s;
}

.logos__icon:hover {
    transform: scale(1.1);
}
