* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

#about {
    scroll-margin-top: 30px;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    display: block;
}

img {
    vertical-align: bottom;
}

.section-title {
    position: relative;
    padding-left: 46px;
    color: #152427;
    font-weight: 500;
    line-height: 1.13;
}

.section-title::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #152427;
}

.section-heading {
    position: relative;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.container {
    max-width: calc(100% - 48px);
    width: 1140px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    --height: 57px;
    min-width: 173px;
    height: var(--height);
    padding: 0 24px;
    line-height: var(--height);
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: #143c3c;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.btn:hover {
    color: #143c3c;
    background-color: #e2eddf;
}

/* ====== Header ====== */
.header {
    font-family: "Public Sans", sans-serif;
}

.header.fixed {
    position: sticky;
    top: -15px;
    background-color: #fff;
    z-index: 2;
}

.header__inner {
    padding: 28px 0 13px;
}

.header__action,
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    margin-right: 88px;
}

.nav__item-link {
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    padding: 8px 19px;
}

.nav__item-link:hover {
    color: #152427;
}

.nav__item-link--active {
    position: relative;
    color: #152427;
}

.nav__item-link--active::after {
    position: absolute;
    left: 19px;
    bottom: -21px;
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: #143c3c;
}

.header__line {
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

/* ===== Hero ====== */
.hero {
    font-family: "Public Sans", sans-serif;
    padding: 60px 0 88px;
}

.hero__content {
    width: 34.47%;
}

.hero__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__heading {
    width: 368px;
    color: #152427;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    width: 341px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero__cta {
    display: flex;
    margin-top: 42px;
    justify-content: space-between;
    align-items: center;
}

.hero__cta-watch {
    display: flex;
    align-items: center;
}

.hero__cta-watch:hover .hero__cta-watch-text {
    transform: scaleX(1.1);
}

.hero__cta-watch-icon {
    margin: 0 15px 0 -20px;
}

.hero__cta-watch-text {
    color: #152427;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    transition: 0.2s;
}

.hero__media {
    position: relative;
    width: 56.67%;
    height: 543px;
    display: flex;
    column-gap: 20px;
}

.hero__media-img {
    position: relative;
    width: 31.27%;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__media-img:nth-last-of-type(2) {
    margin-top: 77px;
}

.hero__blur {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
}

.header__decor {
    position: absolute;
}

.header__decor:first-of-type {
    top: -32px;
    left: 297px;
}

.header__decor:nth-of-type(2) {
    right: 46px;
    bottom: -70px;
}

.header__decor:nth-of-type(3) {
    top: -24px;
    left: 255px;
}

.header__decor:last-of-type {
    right: 9px;
    bottom: -36px;
}

/* ===== Logos ====== */
.logos {
    padding: 42px 0;
}

.logos__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 76px 121px;
    border-radius: 100.5px;
    background: #e2eddf;
}

.logos__icon {
    transition: 0.25s;
}

.logos__icon:hover {
    transform: scale(1.1);
}

/* ===== Service ====== */
.service {
    padding: 64px 0;
}

.service__heading {
    width: 520px;
    margin-top: 12px;
}

.service__heading::after {
    position: absolute;
    right: 103px;
    bottom: 19px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: #152427;
}

.service__container {
    position: relative;
}

.service__list {
    margin-top: 76px;
    display: flex;
}

.service__item {
    width: calc((100% - 32px) / 3);
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #fff;
}

.service__item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service__item figure {
    overflow: hidden;
    height: 318px;
}

.service__item:hover .service__item-thumb {
    transform: scale(1.1);
}

.service__item-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 34% 0;
    transition: 0.25s;
}

.service__item-body {
    padding: 24px 18px;
}

.service__item-heading {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service__item-desc {
    margin-top: 18px;
    max-width: 267px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

.service__control {
    position: absolute;
    right: 73px;
    top: -139px;
    display: flex;
    column-gap: 17px;
}

.service__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: #152427;
    outline: none;
    border: none;
    background-color: #e2eddf;
    transition: 0.25s;
}

.service__btn-next {
    rotate: 180deg;
}

.service__btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #143c3c;
}

.service .container {
    overflow: hidden;
}

/* ===== About ===== */
.about {
    padding: 85px 0 39px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__media {
    position: relative;
    width: 51.84%;
    display: flex;
    column-gap: 19px;
}

.about__img {
    width: 48.4%;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img:first-child {
    margin-top: 90px;
}

.about__img:nth-child(2) {
    margin-top: 13px;
}

.about__decor {
    position: absolute;
}

.about__decor:nth-child(3) {
    left: 82px;
    top: 18px;
}

.about__decor:nth-child(4) {
    top: -18px;
    left: 46px;
}

.about__card {
    position: absolute;
    bottom: 8px;
    right: -9px;
    color: #152427;
    font-family: "Public Sans", sans-serif;
    width: 143px;
    padding: 19px 23px 11px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about__card-heading {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about__card-text,
.about__card-title {
    color: #575d5e;
    font-size: 1rem;
    line-height: 1.4;
    margin: 6px 0 10px;
    opacity: 0.4;
}

.about__card-text {
    display: block;
    color: #152427;
    font-weight: 500;
    opacity: 1;
    margin: 0;
}

.about__card-text.right {
    text-align: right;
}

.about__card-line {
    position: relative;
    margin: 3px 0;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about__card-line::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about__card-check {
    display: block;
    margin-top: 3px;
}

.about__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

.about__row-block {
    display: flex;
}

.about__row-avatar {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #fff;
}

.about__row-avatar + .about__row-avatar {
    margin-left: -6px;
}

.about__content {
    width: 42.54%;
}

.about__content-heading {
    margin-top: 20px;
    max-width: 483px;
}

.about__content-desc {
    margin-top: 11px;
    color: #7d8188;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

.about__content-row {
    display: flex;
    padding: 36px 0 20px;
    column-gap: 24px;
    border-bottom: 1px solid #83a17d;
}

.about__content-row-percent {
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.about__content-row-desc {
    max-width: 364px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* ===== Process ===== */
.process {
    margin-top: 40px;
}

.process__inner {
    padding: 36px 0 148px;
}

.process__heading {
    position: relative;
    margin-top: 20px;
    max-width: 477px;
}

.process__heading::after {
    position: absolute;
    bottom: 18px;
    right: -9px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}

.process__content {
    margin-top: 81px;
}

.process__row {
    display: grid;
    padding: 0 41px 0 30px;
    grid-template-columns: 0.27fr 0.61fr 1fr;
    grid-template-rows: 185px;
    border-radius: 33px;
}

.process__row:first-child {
    background: #e2eddf;
    position: relative;
}

.process__row-order {
    align-content: center;
    color: #143c3c;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72; /* 72.222% */
}

.process__wrap {
    align-content: center;
}

.process__row-heading {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process__row-more {
    margin-top: 22px;
    color: #575d5e;
    font-size: 1.8rem;
    line-height: 1;
}

.process__row-more:hover {
    text-decoration: underline;
}

.process__line {
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process__row-desc {
    align-content: center;
    color: #7d8188;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.process__decor {
    position: absolute;
    right: 92px;
    bottom: 0;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

/* ===== Features ===== */
.features {
    background: #143c3c;
}

.features__inner {
    padding: 116px 0 63px;
}

.features__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__heading {
    position: relative;
    width: 457px;
    color: #e7f9f9;
}

.features__heading::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #83a17d;
    position: absolute;
    right: 97px;
    bottom: 20px;
}

.features__content {
    width: 51.8%;
}

.features__desc {
    max-width: 590px;
    color: #6a8383;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.features__cta {
    display: flex;
    margin-top: 13px;
}

.features__cta-link {
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.features__cta-link:hover {
    color: #c4c4c4;
}

.features__cta-arrow {
    padding: 8px;
    display: flex;
    align-items: center;
    margin-left: 18px;
    color: #80a07b;
}

.features__cta-arrow:hover {
    color: #fff;
}

video {
    display: block;
    border-radius: 22px;
    margin: 65px auto 0;
    width: 737px;
    height: 544px;
    object-fit: contain;
}

/* ===== Service-2 ===== */
.service-2 {
    margin-top: 70px;
    padding: 70px 0;
}

.service-2__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.service-2__heading {
    max-width: 520px;
}

.service-2__desc {
    margin-top: 20px;
    max-width: 547px;
    color: #7d8188;
    font-weight: 500;
    line-height: 1.63;
}

.service-2__list {
    display: flex;
    column-gap: 45px;
    margin-top: 103px;
}

.service-2__item {
    width: 30.7%;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    text-align: center;
    padding: 80px 27px 74px;
    transition: 0.25s;
}

.service-2__item:hover {
    transform: translateY(-59px);
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    border-color: #fff;
}

.service-2__item-heading {
    margin-top: 26px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.service-2__item-desc {
    max-width: 264px;
    margin: 9px auto 0;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

.service-2__item:first-child .service-2__item-desc {
    max-width: 286px;
}

/* Blog */
.blog {
    margin-top: 12px;
    padding: 102px 0;
}

.blog__top {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.79fr;
}

.blog__heading {
    margin-top: 10px;
    position: relative;
}

.blog__heading::after {
    position: absolute;
    right: -51px;
    bottom: 15px;
    content: "";
    display: inline-block;
    width: 82px;
    height: 3px;
    background: #152427;
}

.blog__top-desc {
    margin-top: 60px;
    color: #7d8188;
    font-weight: 500;
    line-height: 1.63;
}

.blog__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog__card {
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    transition: 0.25s;
}

.blog__card:first-child .blog__card-img {
    object-position: top;
}

.blog__card:hover {
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog__card-wrap {
    transition: 0.25s;
}

.blog__card:hover .blog__card-wrap {
    transform: translateX(30px);
}

.blog__card:hover .blog__card-heading {
    max-width: calc(100% - 30px);
}

.blog__card:hover .blog__card-line {
    width: 297px;
    transform: translateX(30px);
}

.blog__card-thumb {
    height: 317px;
    overflow: hidden;
}

.blog__card:hover .blog__card-img {
    transform: scale(1.1);
}

.blog__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.blog__card-body {
    padding: 26px 33px 12px 0;
}

.blog__card-btn {
    --height: 26px;
    border-radius: 20px;
    min-width: 107px;
    font-size: 1rem;
}

.blog__card-heading {
    max-width: 100%;
    margin-top: 13px;
    color: #143c3c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    height: 5.01em;
}

.blog__card-line {
    margin-top: 9px;
    width: 337px;
    height: 1px;
    background-color: #c4c4c4;
    transition: 0.25s;
}

.blog__card-date {
    display: block;
    text-align: right;
    margin-top: 16px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

/* Footer */
.footer {
    background: #143c3c;
    padding: 72px 50px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__left {
    width: 36.05%;
}

.footer__heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: normal;
}

.footer__cta {
    max-width: 354px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 36px;
    border-bottom: 1px solid #6a8383;
}

.footer__cta-title {
    color: #6a8383;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.footer__cta-arrow:hover,
.footer__cta-title:hover {
    color: #c4c4c4;
}

.footer__cta-arrow {
    padding: 8px;
    color: #fff;
}

.footer__socials {
    display: flex;
    margin-top: 47px;
    column-gap: 22px;
}

.footer__socials-link {
    color: #265252;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    transition: 0.25s;
    border: 1px solid currentColor;
}

.footer__socials-link:hover {
    color: #a75325;
    background-color: currentColor;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    width: 39.4%;
    font-family: "Public Sans", sans-serif;
}

.footer__column {
    width: 17.4%;
}

.footer__column-heading {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.footer__column-list {
    margin-top: 6px;
}

.footer__column-link {
    color: #6a8383;
    font-weight: 500;
    line-height: 2.25;
}

.footer__column-link:hover {
    text-decoration: underline;
}

.footer__line {
    margin-top: 45px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}
